@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Whisper&display=swap&family=Bakbak+One&display=swap');
/* font-family: "Whisper", cursive; */
/* font-family: "Raleway", sans-serif; */
/* font-family: "Bakbak One", sans-serif; */
/* #d27c18 orange */
/* #bfd2e3 blue */
/* #2a364d dark blue */

* {
    margin: 0;
    padding: 0;
}

a {
    color:#0b202b;
    margin: 0px 0.6ch;
}

body {
    min-height: 100vh;
    display: grid;
    /* background-color: #492b09; */
    background-image: url('images/flowers-8289319_640.png');
    background-repeat: repeat;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-rows: 15vh 1fr 5vh;
}

.brown {
    background-color: #ffffff86;
}

#top-bar {
    grid-column: 1 / 4;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    /*margin-top: -25px;*/
}

.title {
    font-family: "Bakbak One", sans-serif;
    font-size: 6vw;
    color:#0b202b;
    white-space: nowrap;
    align-self: self-end;
    /*background-color:#ffffffe0;
    border-radius: 10px;*/
}

#library {
    background-color:#ffffffe0;
    box-shadow: inset 5px 8px 12px #7b99b4af;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: fit-content;
    gap: 15px;
    padding: 5px 15px;
    border-radius: 10px;
}

.card {
    margin: 10px;
    width: 95%;
    height: 150px;
    background-color: #d1dfeb;
    justify-self: center;
    border: 3px solid #7b99b4;
    border-radius: 10px;
    box-shadow: 2px 5px 6px #7b99b4af;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    z-index: 2;
}

.book-title {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    font-family: "Whisper", cursive;
    font-size: 4vw;
    overflow: clip;
}

.book-author {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
}

#footer {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}