@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Whisper&display=swap&family=Bakbak+One&display=swap');
/* font-family: "Whisper", cursive; */
/* font-family: "Raleway", sans-serif; */
/* font-family: "Bakbak One", sans-serif; */
/* #d27c18 orange */
/* #bfd2e3 blue */
/* #2a364d dark blue */

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

a {
    color:#0b202b;
    margin: 0px 0.6ch;
}

body {
    min-height: 100vh;
    display: grid;
    /* background-color: #492b09; */
    background-image: url('images/flowers-8289319_640.png');
    background-repeat: repeat;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-rows: 15vh 1fr 5vh;
}

.brown {
    background-color: #ffffff86;
}

#top-bar {
    grid-column: 1 / 4;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    /*margin-top: -25px;*/
}

.title {
    font-family: "Bakbak One", sans-serif;
    font-size: 6vw;
    color:#0b202b;
    white-space: nowrap;
    align-self: self-end;
    /*background-color:#ffffffe0;
    border-radius: 10px;*/
}

#library {
    background-color:#ffffffe0;
    box-shadow: inset 5px 8px 12px #7b99b4af;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: fit-content;
    gap: 15px;
    padding: 5px 15px;
    border-radius: 10px;
}

.card {
    box-sizing: border-box;
    margin: 10px;
    width: 95%;
    min-height: 150px;
    height: fit-content;
    background-color: #d1dfeb;
    justify-self: center;
    border: 3px solid #7b99b4;
    border-radius: 10px;
    box-shadow: 2px 5px 6px #7b99b4af;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: fit-content fit-content fit-content fit-content;
    align-content: space-between;
    z-index: 2;
    padding: 8px;
}

.delete {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    font-weight: bold;
}

.book-title {
    align-self: center;
    justify-self: center;
    font-family: "Raleway", sans-serif;
    font-size: 3vw;
    font-weight: bold;
    overflow: clip;
    color:#0b202b;
    border-bottom: double 4px #0b202b;
    text-align: center;
}

.book-author {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.page-number {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.read-true {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.read-false {
    align-self: center;
    justify-self: center;
    text-align: center;
}

#footer {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#add-book {
    width: 50px;
    min-height: 50px;
    height: 50px;
    justify-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #d27c18;
    background-color: #f0d3b3;
}

#add-book-form {
    border-color: #d27c18;
    background-color: #f0d3b3;
}

form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

label {
    display: flex;
    justify-content: center;
    padding: 2px;
    justify-content: space-between;
}

input {
    margin-left: 7px;
}

.keep-left {
    justify-self: flex-start;
}

.more-space {
    margin-left: 2.2vw;
}

#add {
    font-size: 5vw;
    cursor: pointer;
}

#add > a {
    text-decoration: none;
    color: #d27c18;
}

#error1 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: rgb(156, 2, 2);
}

.hidden {
    visibility: hidden;
}

.delete {
    display: flex;
    justify-content: flex-end;
}

.delete > img {
    width: 20px;
    height: 20px;
}

dialog {
    margin: auto;
    padding: 5px;
    width: 33vw;
    border-radius: 10px;
    border-color:#d27c18;
    background-color:#f0d3b3;
}

dialog::backdrop {
    background-color:#7b99b498;
}

.styleDialog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.styleDialog > p {
    grid-column: 1 / 3;
    text-align: center;
}

.styleDialog > button {
    font-weight: bold;
    width: 70%;
    padding: 5px;
    justify-self: center;
    border-radius: 5px;
}

.styleDialog > .confirm {
    color:#0a410c;
    background-color:#b9ffbc;
    border-color:#0a410c;
}

.styleDialog > .cancel {
    color:rgb(156, 2, 2);
    background-color:rgb(255, 190, 190);
    border-color:rgb(156, 2, 2);
}